
.hidde-group{display: none;}
.container-title h1.page-title{
	padding-top: 0px!important;
}
header.header{
	padding-top: 5px;
}
.col-left{
	float:left;
	width:15%;
}
.col-right{
	float:left;
	width:85%;
	margin-left: 14%;
}
.navbar-fixed-top, .navbar-fixed-bottom{
	position: relative;
}

.nav-collapse li{
	display: block!important;
	float:none!important;
}

body{
    padding-top: 0px!important;
}
.j-sidebar-container.j-sidebar-visible {
    left: 15%;
}
#j-main-container{
	padding-left:2.5%;
}
.subhead-fixed {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 100;
}
.pro_price{
	width:120px;
	float: left;
	height: 20px;
}
.btn-price{
	float: left;
	margin-left: 4px;
	height: 24px;
}
.price-wrap{
	margin:auto;
}
.navbar-inverse .navbar-inner {
    background: #10223e;
    background-image: none;
    filter: none;
    height: 100%;
    overflow: scroll;
    position: fixed;
}
.row-fluid [class*="span"]:first-child {
    margin-left: 10px;
    margin-right: 10px;
}

#j-main-container {
    padding-left: 0px;
}
.container-fluid {
    padding-left: 0px;
}
#j-main-container{
	min-height: 450px;
}
#user-form{
	padding-left: 30px;
}

#payment-details-page {
	padding-left: 20px;
}
#shipping-details-page{
	padding-left: 20px;
}
#general-page{
	padding-left: 10px;
}
.order-history{
	padding-left: 25px!important;
	padding-top: 15px!important;
	font-size: 20px;
	color: #3071a9;
	font-weight: bold;
	clear: both;

}
.row-fluid .span12 form{
	padding-left: 15px;
}

#toolbar {
    padding-left: 10px;
}
.nav-collapse li.hidde-group7{
  display: none!important;
}
.nav-collapse li.hidde-group10{
  display: none!important;
}

/* ipad */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
	.row-fluid [class*="span"]:first-child {
			margin-left: 50px;
	}
	#j-main-container {
		padding-left: 0px;
	}
	#filter-bar .pull-right {
		float: left;
	}
	.col-right {
		float: left;
		width: 100%;
	}
	.header{
		padding-left: 60px;
	}
	.row-fluid .span10{
		width:100%!important;
	}

	.j-sidebar-container.j-sidebar-visible{
		left: 0%!important;
		display: none!important;
	}
	#system-message-container.j-toggle-main, #j-main-container.j-toggle-main, #system-debug.j-toggle-main {
		float: left;
	}
	#status{
		margin-left: 60px;
	}
	#content .span12 form{
		padding-left: 10px;
	}

	header.header {
		width: 100%;
	}
	#j-main-container{
		margin: 0px;
	}
	.col-right{
		padding-left: 10px!important;
	}
	.container-fluid.container-main{
		width: 100%;
	}
	#status{
		width:100%;
		z-index: -9999;
	}
	#system-message-container.j-toggle-main, #j-main-container.j-toggle-main, #system-debug.j-toggle-main {
    margin-left: 0px;
	}
	#orderContent .span12{
		margin-left: 5px!important;
	}
	.btn-group.pull-right{
		clear: both;
	}
	.price-wrap .pro_price{
		width: 70px!important;
	}

}



@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
	.row-fluid [class*="span"]:first-child {
	    margin-left: 45px;
	}
	#j-main-container {
    padding-left: 0px;
	}
	#filter-bar .pull-right {
    float: left;
	}
	.col-right {
    float: left;
    width: 100%;
	}
	.header{
		padding-left: 60px;
	}
	.row-fluid .span10{
		width:100%!important;
	}

	.j-sidebar-container.j-sidebar-visible{
		left: 0%!important;
		display: none!important;
	}
	#system-message-container.j-toggle-main, #j-main-container.j-toggle-main, #system-debug.j-toggle-main {
    float: left;
	}
	#status{
		margin-left: 60px;
	}
	#content .span12 form{
		padding-left: 10px;
	}

	header.header {
		width: 100%;
	}
	#j-main-container{
		margin: 0px;
	}
	.col-right{
		padding-left: 10px!important;
	}
	.container-fluid.container-main{
		width: 100%;
	}
	#status{
		width:100%;
		z-index: -9999;
	}

}
